In [134]:
#importing packages that are necessary for the assessment
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [135]:
#Reading in the data into a pandas dataframe
teamsDataFrame = pd.read_csv(r'shots_data.csv')
teamsDataFrame

       team     x     y  fgmade
0    Team A -23.1   3.5       0
1    Team A   0.0  25.1       1
2    Team A   0.5   1.0       1
3    Team A  -5.6   5.2       0
4    Team A   4.0  14.5       1
..      ...   ...   ...     ...
555  Team B   7.8  24.7       0
556  Team B  10.1   1.4       1
557  Team B -17.8  -0.1       0
558  Team B  22.6   2.9       0
559  Team B  -0.7  14.7       1

[560 rows x 4 columns]

In [136]:
#Spliting the original dataframe into two seperate dataframes based on team names (Team A and Team B)
#Visualizing Team A dataframe
teamADataFrame = teamsDataFrame[teamsDataFrame['team']=='Team A']
teamADataFrame

       team     x     y  fgmade
0    Team A -23.1   3.5       0
1    Team A   0.0  25.1       1
2    Team A   0.5   1.0       1
3    Team A  -5.6   5.2       0
4    Team A   4.0  14.5       1
..      ...   ...   ...     ...
275  Team A  23.0   4.7       1
276  Team A  -3.0  25.4       0
277  Team A  -8.0   2.6       1
278  Team A  -7.6   1.7       0
279  Team A  -5.5   6.2       1

[280 rows x 4 columns]

In [137]:
#Visualizing Team B dataframe
teamBDataFrame = teamsDataFrame[teamsDataFrame['team']=='Team B']
teamBDataFrame

       team     x     y  fgmade
280  Team B   2.5   6.2       0
281  Team B   7.4  18.3       1
282  Team B   1.1   0.1       0
283  Team B  -1.6  25.6       0
284  Team B -14.4  21.7       1
..      ...   ...   ...     ...
555  Team B   7.8  24.7       0
556  Team B  10.1   1.4       1
557  Team B -17.8  -0.1       0
558  Team B  22.6   2.9       0
559  Team B  -0.7  14.7       1

[280 rows x 4 columns]

In [138]:
#Adding a distance column to the dataframe based on the x and y coordinates provided in the dataset with respect to the center of the basketball hoop (0,0)
#The formula used here is sqrt((X1-X0)^2 + (Y1-Y0)^2)
teamADataFrame['distance'] = (np.sqrt(np.power((teamADataFrame['x']-0),2)+np.power((teamADataFrame['y']-0),2)))
teamADataFrame

       team     x     y  fgmade   distance
0    Team A -23.1   3.5       0  23.363647
1    Team A   0.0  25.1       1  25.100000
2    Team A   0.5   1.0       1   1.118034
3    Team A  -5.6   5.2       0   7.641989
4    Team A   4.0  14.5       1  15.041609
..      ...   ...   ...     ...        ...
275  Team A  23.0   4.7       1  23.475306
276  Team A  -3.0  25.4       0  25.576552
277  Team A  -8.0   2.6       1   8.411896
278  Team A  -7.6   1.7       0   7.787811
279  Team A  -5.5   6.2       1   8.287943

[280 rows x 5 columns]

In [139]:
#Adding a distance column to the dataframe based on the x and y coordinates provided in the dataset with respect to the center of the basketball hoop (0,0)
#The formula used here is sqrt((X1-X0)^2 + (Y1-Y0)^2)
teamBDataFrame['distance'] = (np.sqrt(np.power((teamBDataFrame['x']-0),2)+np.power((teamBDataFrame['y']-0),2)))
teamBDataFrame

       team     x     y  fgmade   distance
280  Team B   2.5   6.2       0   6.685058
281  Team B   7.4  18.3       1  19.739554
282  Team B   1.1   0.1       0   1.104536
283  Team B  -1.6  25.6       0  25.649951
284  Team B -14.4  21.7       1  26.043233
..      ...   ...   ...     ...        ...
555  Team B   7.8  24.7       0  25.902316
556  Team B  10.1   1.4       1  10.196568
557  Team B -17.8  -0.1       0  17.800281
558  Team B  22.6   2.9       0  22.785302
559  Team B  -0.7  14.7       1  14.716657

[280 rows x 5 columns]

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [140]:
#Calculating the total field goal attempts of Team A
TeamATotalAttempts = len(teamADataFrame)
TeamATotalAttempts

280

In [141]:
#Calculating the total 2-point field goal attempts of Team A
teamA2PTA = len(teamADataFrame[((teamADataFrame['y']<=7.8) & (teamADataFrame['distance']<22))
                          |
                          ((teamADataFrame['y']>7.8) & (teamADataFrame['distance']<23.75))])
teamA2PTA

170

In [142]:
#Calculating the percentage of 2 point field goals attempted among the total number of shots in the dataset for Team A
PercentTeamA2PTA = teamA2PTA/TeamATotalAttempts
PercentTeamA2PTA

0.6071428571428571

In [143]:
#Calculating the total non corner 3 point field goal attempts of Team A
teamANC3A = len(teamADataFrame[(teamADataFrame['y']>7.8) & (teamADataFrame['distance']>=23.75)])
teamANC3A

90

In [144]:
#Calculating the percentage of non corner 3 point field goals attempted among the total number of shots in the dataset for Team A
PercentTeamANC3A = teamANC3A/TeamATotalAttempts
PercentTeamANC3A

0.32142857142857145

In [145]:
#Calculating the total corner 3 point field goal attempts of Team A
teamAC3A = len(teamADataFrame[(teamADataFrame['y']<=7.8) & (teamADataFrame['distance']>=22)])
teamAC3A

20

In [146]:
#Calculating the percentage of corner 3 point field goals attempted among the total number of shots in the dataset for Team A
PercentTeamAC3A = teamAC3A/TeamATotalAttempts
PercentTeamAC3A

0.07142857142857142

In [147]:
#Calculating the total 2 point field goals made by Team A
teamA2PTM = len(teamADataFrame[((teamADataFrame['y']<=7.8) & (teamADataFrame['distance']<22) & (teamADataFrame['fgmade']==1))
                          |
                          ((teamADataFrame['y']>7.8) & (teamADataFrame['distance']<23.75) & (teamADataFrame['fgmade']==1))])
teamA2PTM

68

In [148]:
#Calculating the total 3 point field goals made by Team A
teamA3PM = len(teamADataFrame[((teamADataFrame['y']>7.8) & (teamADataFrame['distance']>=23.75) & (teamADataFrame['fgmade']==1))
                         |
                         ((teamADataFrame['y']<=7.8) & (teamADataFrame['distance']>=22) & (teamADataFrame['fgmade']==1))])
teamA3PM

37

In [149]:
#eFG in the 2 point zone for Team A
teamAeFG2PT = (teamA2PTM + (0.5 * teamA3PM))/TeamATotalAttempts
teamAeFG2PT

0.30892857142857144

In [150]:
#Calculating the total non corner 3 point field goals made by Team A
teamANC3M = len(teamADataFrame[(teamADataFrame['y']>7.8) & (teamADataFrame['distance']>=23.75) & (teamADataFrame['fgmade']==1)])
teamANC3M

29

In [151]:
#eFG in the non corner 3 point zone for Team A
teamAeFGNC3 = (teamANC3M + (0.5 * teamA3PM))/TeamATotalAttempts
teamAeFGNC3

0.16964285714285715

In [152]:
#Calculating the corner 3 point field goals made by Team A
teamAC3M = len(teamADataFrame[(teamADataFrame['y']<=7.8) & (teamADataFrame['distance']>=22) & (teamADataFrame['fgmade']==1)])
teamAC3M

8

In [153]:
#eFG in the corner 3 point zone for Team A
teamAeFGC3 = (teamAC3M + (0.5 * teamA3PM))/TeamATotalAttempts
teamAeFGC3

0.09464285714285714

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [154]:
#Calculating the total field goal attempts of Team B
TeamBTotalAttempts = len(teamBDataFrame)
TeamBTotalAttempts

280

In [155]:
#Calculating the total 2-point field goal attempts of Team B
teamB2PTA = len(teamBDataFrame[((teamBDataFrame['y']<=7.8) & (teamBDataFrame['distance']<22))
                          |
                          ((teamBDataFrame['y']>7.8) & (teamBDataFrame['distance']<23.75))])
teamB2PTA

163

In [156]:
#Calculating the percentage of 2 point field goals attempted among the total number of shots in the dataset for Team B
PercentTeamB2PTA = teamB2PTA/TeamBTotalAttempts
PercentTeamB2PTA

0.5821428571428572

In [157]:
#Calculating the total non corner 3 point field goal attempts of Team B
teamBNC3A = len(teamBDataFrame[(teamBDataFrame['y']>7.8) & (teamBDataFrame['distance']>=23.75)])
teamBNC3A

96

In [158]:
#Calculating the percentage of non corner 3 point field goals attempted among the total number of shots in the dataset for Team B
PercentTeamBNC3A = teamBNC3A/TeamBTotalAttempts
PercentTeamBNC3A

0.34285714285714286

In [159]:
#Calculating the total corner 3 point field goal attempts of Team B
teamBC3A = len(teamBDataFrame[(teamBDataFrame['y']<=7.8) & (teamBDataFrame['distance']>=22)])
teamBC3A

21

In [160]:
#Calculating the percentage of corner 3 point field goals attempted among the total number of shots in the dataset for Team B
PercentTeamBC3A = teamBC3A/TeamBTotalAttempts
PercentTeamBC3A

0.075

In [161]:
#Calculating the total 2 point field goals made by Team B
teamB2PTM = len(teamBDataFrame[((teamBDataFrame['y']<=7.8) & (teamBDataFrame['distance']<22) & (teamBDataFrame['fgmade']==1))
                          |
                          ((teamBDataFrame['y']>7.8) & (teamBDataFrame['distance']<23.75) & (teamBDataFrame['fgmade']==1))])
teamB2PTM

75

In [162]:
#Calculating the total 3 point field goals made by Team B
teamB3PM = len(teamBDataFrame[((teamBDataFrame['y']>7.8) & (teamBDataFrame['distance']>=23.75) & (teamBDataFrame['fgmade']==1))
                         |
                         ((teamBDataFrame['y']<=7.8) & (teamBDataFrame['distance']>=22) & (teamBDataFrame['fgmade']==1))])
teamB3PM

40

In [163]:
#eFG in the 2 point zone for Team B
teamBeFG2PT = (teamB2PTM + (0.5 * teamB3PM))/TeamBTotalAttempts
teamBeFG2PT

0.3392857142857143

In [164]:
#Calculating the total non corner 3 point field goals made by Team B
teamBNC3M = len(teamBDataFrame[(teamBDataFrame['y']>7.8) & (teamBDataFrame['distance']>=23.75) & (teamBDataFrame['fgmade']==1)])
teamBNC3M

35

In [165]:
#eFG in the non corner 3 point zone for Team B
teamBeFGNC3 = (teamBNC3M + (0.5 * teamB3PM))/TeamBTotalAttempts
teamBeFGNC3

0.19642857142857142

In [166]:
#Calculating the corner 3 point field goals made by Team B
teamBC3M = len(teamBDataFrame[(teamBDataFrame['y']<=7.8) & (teamBDataFrame['distance']>=22) & (teamBDataFrame['fgmade']==1)])
teamBC3M

5

In [167]:
#eFG in the corner 3 point zone for Team B
teamBeFGC3 = (teamBC3M + (0.5 * teamB3PM))/TeamBTotalAttempts
teamBeFGC3

0.08928571428571429

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%